.blue{
    background: blue;
    color: #fff;
    padding: 5px;
}
.red{
    background: red;
    color: #fff;
    padding: 5px;
}
.purple{
    background: purple;
    color: #fff;
    padding: 5px;
}
.orange{
    background: orange;
    color: #fff;
    padding: 5px;
}
.green{
    background: green;
    color: #fff;
    padding: 5px;
}
.bold{
    font-weight: bold;
}
.bordered{
    border: 1px solid black;
}